@model IEnumerable<CartItem>

@if (Model.Any())
{
    <div class="container">
        @foreach (var el in Model)
        {
            <div class="card mb-3 me-auto ms-auto" style="max-width: 860px;">
                <div class="row g-0">
                    <div class="col-md-4 d-flex">
                        <img src="@el.Product!.ImageUrl" class="img-fluid rounded-start w-100" style="aspect-ratio: 16/9; object-fit: cover" alt="@el.Product!.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@el.Product!.Name</h5>
                            <p class="card-text">@el.Product!.Description</p>
                            <p class="card-text"><small class="text-body-secondary">@el.Product!.Price.ToString("c")</small></p>

                            @Html.ActionLink("Удалить", "RemoveFromCart", "ShopCart", new { itemCartId = @el.Id },
                                     new { onclick = "return confirm('Вы уверены, что хотите удалить товар из корзины?')", @class = "btn btn-danger" })
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <a class="btn btn-primary d-block w-25 ms-auto me-auto" asp-action="Checkout" asp-controller="Order">Оплатить</a>
    </div>
}
else
{
    <div class="container">
        <p class="text-center mt-5">В корзине нет товаров.</p>
    </div>
}